body{
    
    font-family: 'Roboto', sans-serif;
    color:#fff;
    scroll-snap-type: y mandatory;

}



*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

@media(max-width:762px){
  *,
  :after,
  :before {
    scroll-snap-type: none;
  }

  body{
    
    scroll-snap-type:none;

}
  
} 

.flexContainer{
  scroll-snap-align: start;
  min-height: 100vh;
  max-width: 100vw;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}


.page1{
  background: rgb(2,0,36);
  background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(0,59,92,1) 43%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat; 
  min-height: 100vh;
}

.page1 h1{
  font-weight: 800;
  font-size: 70px;
}

.disclaimer{
  position: absolute;
  bottom: 10px;
  font-size:8px;
}

.page2{
    background-color: #003b5c;
    /*min-height: 100%;*/
    /* background-image:  url("/imgs/bg4.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repet;
    background-position: center center;
    height: 100vh; 
    color: #fff;
  
  
  
}

.page2test{
  /* background-color: #fff; */
  min-height: 100%;
  background-image:  url("/imgs/bg4.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repet;
  background-position: center center;
  height: 100vh; 
  color: #fff;
}

.page2test2{
  background-color: #003b5c;
  /*min-height: 100%;*/
  /* background-image:  url("/imgs/bg4.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repet;
  background-position: center center;
  height: 100vh; 
  color: #fff;
}

.page3{
  background-color: #fff;
  color: #454545;
  font-size: 13px;
  
}

.fImovel{
  font-weight: 900;
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin-bottom: 0.2rem;
}

.botao {
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    font-size: 20px;
}

.botao-text{
    margin-bottom: 20px;
}

.centerText{
    text-align:center;
}

.scroll-downa {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-downa {
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-align: center;
    align-items: center;
  }

  .cardForm{
    border-radius:20px;
    
  }





  footer{
    scroll-snap-align: start;
    width: 100vw;
  }



@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  .setaDown{
    position: absolute;
    bottom:10px;
    margin:auto;
    /* left: 50%; */
   
    
  }

  .setaDown a{
    text-decoration:none;
  }

  .bounce {
    animation: bounce 2s infinite 2s;
    color: black;
  }

  .whatsIcon{ 
    width:80px;
    position:fixed;
    bottom:40px;
    right:13px;
    font-size: 80px;
    cursor:pointer;
    z-index:99;
    background-image: url('imgs/whatsimg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .nudge{
    animation: nudge 2s linear infinite;
  }

  @keyframes nudge {
    20%,
    100% {
      transform: translate(0, 0);
    }
    0% {
      transform: translate(0, 50px);
      transform: rotate(50deg);
    }
    10% {
      transform: translate(0, -50px);
      transform: rotate(-50deg);
    }
  }
  
  .tag {
    line-height: 1;
    background: #182f3d;
    color: #fff !important;
}

.timeline h6{
  color: rgb(20,44,60);
  font-weight: 700;
}


  .timeline .tags {
    position: absolute;
    top: 15px;
    left: 0;
    width: 84px;
  }

  ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.whatIcon{
  color:green;
}

.instaIcon{
  color:red;
}

.socials{
  font-size:35px;
}

.socials img{
  max-height: 50px;
}

.sw-theme-arrows {
  border: 0!important;
}

textarea {
  resize: none;
}