body{
    font-family: 'Roboto', sans-serif;
    color:#fff;
    scroll-snap-type: y mandatory;

}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
  height: 100vh;
  /* background-color:#003b5c; */
  background-color: rgb(49, 49, 49);
  position: relative;

}

footer{
  scroll-snap-align: start;
}

.slider1{
    background-image: url('imgs/ImagensCampinas/Vídeo\ Uruguaiana\ -\ Corretores\ \(1\)\ 3165.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}

.midpage{
    background-color: rgb(49, 49, 49, 0.5);
    height: 100%;
    align-items:center;
}

.setaDown{
  position: absolute;
  bottom:10px;
  margin:auto;
  left: 50%;
}
